<div class="profile--card">
    <img src="{{ avatarPhoto }}"/>
      
    <div class="options">
      <p [routerLink]="['/list-of-users']">View other users</p>
      <p [routerLink]="['/make-a-post']">Make a post!</p>
      <p [routerLink]="['/home']">Profile</p>
      <p>Choose a picture for you!</p>
    <mat-card-content>
      <form>
          <input type="file" (change)="onFileSelected($event)" required>
      </form>
    </mat-card-content>
      <mat-card-actions>
          <button mat-button (click)="uploadProfilePhoto()">Upload</button>
      </mat-card-actions>
    </div>    
</div>