<div class="credentials">
    <div>
      <p>Username</p>
      <input type="text" name="username" />
    </div>
  
    <div>
        <p>Password</p>
        <input type="text" name="password" />
    </div>

    <div>
        <p>Confirm Password</p>
        <input type="text" name="password" />
    </div>

    <div>
        <p>Email</p>
        <input type="text" name="password" />
    </div>
  
    <button class="next__button">Sign in</button>
  
    <div class="options">
        <p [routerLink]="['/passwordRecovery']">Forgot your password?</p>
        <p [routerLink]="['/login']">Log in</p>
    </div>
  </div>