<main>
    <div class="menu-card--container">
        <app-menu-card></app-menu-card>
    </div>

      <div class="content--container">
        <app-make-a-post></app-make-a-post>
        <div class="left-side__content" class="user--activity left-side__content" *ngIf="showPosts; else noPostsDiv">
            <h3>Your posts:</h3>
                  <mat-accordion>
                      <app-post [posts]="posts"></app-post>
                    </mat-accordion>
          </div>
    
          <ng-template #noPostsDiv>
            <div class="left-side__content">
                <h3>It looks like you have no posts right now. Try writing some!</h3>
            </div>
          </ng-template>
      </div>
      
</main>