@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/mixins.scss';
@import '../../styles/buttons.scss';

main {

    @include flex_and_center;
    
    form {
        @include flex_and_center;
        flex-direction: column;
    }

    .mat-card {
        width: 360px;
    }

    .mat-card-actions {
        @include flex_and_center;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .mat-card-header {
        @include flex_and_center;
    }
}