<main>
  <app-menu-card></app-menu-card>

  <mat-card>
    <mat-card-header>
        <mat-card-title>Make a post!</mat-card-title>
    </mat-card-header>
    
        <mat-card-content>
          <form>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Title" value="Sushi">
            </mat-form-field>
          
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Favorite food" value="Sushi">
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Description"></textarea>
            </mat-form-field>
          </form>
        </mat-card-content>
        <mat-card-actions>
        <!-- put buttons here -->
        </mat-card-actions>
    </mat-card>
</main>